*{
    margin: 0;
    padding: 0;
} 
body{
    background-color: #f4f4f4;
    color: #555;
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.6em;
  }
  .btn{
    background-color: #333;
    color:white;
    padding: 10px 15px;
    border: none;
    }
    .btn:hover{
        background-color: red;
        color:white;
        cursor: pointer;
    }
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: red;
}
a:active{
    color: green;
}
#letter-spacing{
    letter-spacing: .4em;
}
footer{
    padding: 5%;
}
